*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;

} 
body {
/*     background: url(../assets/worldmap.png) center center no-repeat; */
    background-size: cover;
    background-attachment: fixed;
    background-origin: content-box;
}
#button {
    position: relative;
    top: 12px;
    left: 50%;
    margin-left: -110px;
    margin-bottom: 20px;
    width: 220px;
    border: 1px solid white;
    padding: 5px;
    background-color: rgba(50,60,80,20);
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
    color: #ccc;
    cursor: pointer;
    z-index: 1000;
    opacity: 0.6;
}
canvas {
    position: absolute;
    top:0px;
    left:0px;
    z-index: 0;
}

#gamearea {
    position: relative;
    width: 1024px;
    height: 768px;
    margin: auto auto;
}
